
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #474748;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  overflow-y: auto;
  background-color: #4489C8;  

}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 100px;
  height: 110px;
  margin-top: 60px;
}

#header .profile h1 {
  font-size: 18px;
  margin: 20px 0px;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
.nav-menu li i{
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  margin-top: 50px;
  text-align: center;
  padding-left: 6px;
  
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;

}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  border-radius: 10px;
  margin: 10px auto;
}

.nav-menu a{
  display: flex;
  align-items: center;
  padding: 10px 80px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  color: #f9f9f9;

}
.nav-menu a{
  color: #f8f7f7;
}
.nav-menu a span{
  font-size: 16px;
}

.nav-menu a.active {
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 10px;
  color: #4f5152;
}
.nav-menu >ul>li:Hover {
  background-color: rgba(255, 255, 255, 0.7); 
  color: #f9f9f9;
}
@media (max-width: 768px) {
  #header .profile img {
  margin-top:50px;
  margin-bottom: -30px;
 
  }
 }



/* Mobile Navigation */
.mobile-nav-toggle {

  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #4f5152;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Container Section
--------------------------------------------------------------*/

#main {
  margin-left: 300px;
  margin-top: 30px;
}

.container{
  padding-left: 50px;
  padding-right: 50px;

  
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.text-area{
  width: 70.5%;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
    .text-area {
      width:100% ;
    }
}
.btn{
  background-color: #4489C8;
  font-size: 14px;
  padding: 6px 20px;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
